In [1]:
# Import dependencies

import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pymongo

In [2]:
# Initialize the browser

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Driver [/Users/noreenjordan/.wdm/drivers/chromedriver/mac64/99.0.4844.51/chromedriver] found in cache

# NASA's Mars News

In [3]:
# get the url for NASA' MArs news
url = "https://redplanetscience.com"
# open the url
browser.visit(url)

In [4]:
# Retrieve page with the requests module
response = requests.get(url)

In [5]:
# Create BeautifulSoup object; parse with 'html.parser'

html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#soup = BeautifulSoup(response.text, 'html.parser')

In [6]:
# Extract title 
title = soup.title.text
print(title)

News - Mars Exploration Program

In [7]:
#Extract the latest news title 
news_title = soup.find('div',class_='content_title').text
print(news_title)

NASA's Mars 2020 Rover Goes Coast-to-Coast to Prep for Launch

In [8]:
#Extract the latest news paragraph text
news_p = soup.find('div', class_='article_teaser_body').text
print(news_p)

The agency's first step in returning rocks from Mars just arrived at Kennedy Space Center. The Mars 2020 team now begins readying for a launch to the Red Planet this July.

In [9]:
# The text of the first paragraph
news_p = soup.find('p', class_='card-text').text
print(news_p)

NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities

# JPL Mars Space Images

In [10]:
# get the url for the Featured Space Image site
image_url ="https://spaceimages-mars.com"
# open the url
browser.visit(image_url)

In [11]:
# create html to parse
html = browser.html

# create soup object to parse html
soup = BeautifulSoup(html, "html.parser")

image = soup.find("img", class_="headerimage fade-in")
print(image)

<img class="headerimage fade-in" src="image/featured/mars1.jpg"/>

In [22]:
featured_image_url = 'https://spaceimages-mars.com/image/featured/mars1.jpg'
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

# Mars Facts

In [15]:
# get the url for Mars Facts webpage
facts_url ="https://galaxyfacts-mars.com/"
# open the url
browser.visit(facts_url)

In [16]:
# Use Pandas to get and read the table
table = pd.read_html(facts_url)
table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [17]:
#Pull out the first table on the page and put into a dataframe
mars_facts_df = table[0]
mars_facts_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [18]:

mars_facts_df.columns =['Mars','Facts','Earth']
del mars_facts_df['Earth']
mars_facts_df

                      Mars            Facts
0  Mars - Earth Comparison             Mars
1                Diameter:         6,779 km
2                    Mass:  6.39 × 10^23 kg
3                   Moons:                2
4       Distance from Sun:   227,943,824 km
5          Length of Year:   687 Earth days
6             Temperature:     -87 to -5 °C

In [19]:
# drop the first row and reset the index
mars_facts_df = mars_facts_df.drop(mars_facts_df.index[:1])
mars_facts_df.set_index('Mars', inplace=True)
mars_facts_df

                              Facts
Mars
Diameter:                  6,779 km
Mass:               6.39 × 10^23 kg
Moons:                            2
Distance from Sun:   227,943,824 km
Length of Year:      687 Earth days
Temperature:           -87 to -5 °C

In [ ]:
# convert the data to an HTML table string
mars_facts_html = mars_facts_df.to_html()
html_table.replace('\n', '')
html_table

# Mars Hemispheres

In [25]:
# get the url for Mars Hemispheres
hemisphere_url ="https://marshemispheres.com/"
# open the url
browser.visit(hemisphere_url)

In [27]:
# create html to parse
html = browser.html

# create soup object to parse html
soup = BeautifulSoup(html, "html.parser")

image = soup.find_all("div", class_="description")

img_urls_dict =[]

for i in image:
    title = soup.find("h3").text
    img_urls_dict.append({"title": title})
img_urls_dict

[{'title': 'Cerberus Hemisphere Enhanced'},
 {'title': 'Cerberus Hemisphere Enhanced'},
 {'title': 'Cerberus Hemisphere Enhanced'},
 {'title': 'Cerberus Hemisphere Enhanced'}]

In [51]:
#parse the landing page, isolate the image links in the item div

hemi_html = browser.html
soup = BeautifulSoup(hemi_html, "html.parser")
images = soup.find_all("div", class_="description")

#create a list for the names and image links
img_urls_list = []

#loop thru each link and grab the name and full size image
for image in images:
    
    #title is in the h3 text
    img_title = soup.find("h3").text
    #link is in each description, a href
    #img_link = soup.find("img", class_="thumb")['src']
    img_link = soup.find("div", class_="description").a["href"]

    #parse the html
    hemi_html = browser.html
    hemi_soup = BeautifulSoup(hemi_html, 'html.parser')
    
    #grab the full image link from wide-image src
    img_url = 'https://marshemispheres.com/' + img_link
    #img_url = 'https://marshemispheres.com/' + soup.find('img', class_='wide-image')['src']
    img_urls_list.append({'title': img_title, 'img_url': img_url})

img_urls_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/cerberus.html'},
 {'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/cerberus.html'},
 {'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/cerberus.html'},
 {'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/cerberus.html'}]

In [ ]:
browser.quit()