In [9]:
# Import dependencies

import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pymongo

In [11]:
# Initialize the browser

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/99.0.4844.51/chromedriver_mac64.zip
Driver has been saved in cache [/Users/noreenjordan/.wdm/drivers/chromedriver/mac64/99.0.4844.51]

# NASA's Mars News

In [ ]:
# get the url for NASA' MArs news
url = "https://redplanetscience.com"
# open the url
browser.visit(url)

In [3]:
# Retrieve page with the requests module
response = requests.get(url)

In [4]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [5]:
# Extract title text
title = soup.title.text
print(title)

News - Mars Exploration Program

In [34]:
# Print all paragraph texts
paragraphs = soup.find_all('p', class_='card-text')
for paragraph in paragraphs:
    print(paragraph.text)

NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities
The Launch Is Approaching for NASA's Next Mars Rover, Perseverance
NASA to Hold Mars 2020 Perseverance Rover Launch Briefing
With supporting text below as a natural lead-in to additional content.
With supporting text below as a natural lead-in to additional content.
With supporting text below as a natural lead-in to additional content.
With supporting text below as a natural lead-in to additional content.
With supporting text below as a natural lead-in to additional content.
With supporting text below as a natural lead-in to additional content.

# JPL Mars Space Images

In [12]:
# get the url for the Featured Space Image site
image_url ="https://spaceimages-mars.com"
# open the url
browser.visit(image_url)

In [40]:
# create html to parse
html = browser.html

# create soup object to parse html
soup = BeautifulSoup(html, "html.parser")

image = soup.find("img", class_="headerimage fade-in")
print(image)

<img class="headerimage fade-in" src="image/featured/mars1.jpg"/>

In [14]:
featured_image_url = 'https://spaceimages-mars.com/image/featured/mars1.jpeg'

# Mars Facts

In [41]:
# get the url for Mars Facts webpage
facts_url ="https://galaxyfacts-mars.com/"
# open the url
browser.visit(facts_url)

In [56]:
# Use Pandas to get and read the table
table = pd.read_html(facts_url)
table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [57]:
#Pull out the first table on the page and put into a dataframe
mars_facts_df = table[0]
mars_facts_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [58]:

mars_facts_df.columns =['Mars','Facts','Earth']
del mars_facts_df['Earth']
mars_facts_df

                      Mars            Facts
0  Mars - Earth Comparison             Mars
1                Diameter:         6,779 km
2                    Mass:  6.39 × 10^23 kg
3                   Moons:                2
4       Distance from Sun:   227,943,824 km
5          Length of Year:   687 Earth days
6             Temperature:     -87 to -5 °C

In [60]:
# drop the first row and reset the index
mars_facts_df = mars_facts_df.drop(mars_facts_df.index[:1])
mars_facts_df.set_index('Mars', inplace=True)
mars_facts_df

                              Facts
Mars
Diameter:                  6,779 km
Mass:               6.39 × 10^23 kg
Moons:                            2
Distance from Sun:   227,943,824 km
Length of Year:      687 Earth days
Temperature:           -87 to -5 °C

# Mars Hemispheres

In [8]:
# get the url for Mars Hemispheres
hemisphere_url ="https://marshemispheres.com/"
# open the url
browser.visit(hemisphere_url)

In [ ]:
browser.quit()