In [1]:
# Import dependencies

import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pymongo

In [2]:
# Initialize the browser

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Driver [/Users/noreenjordan/.wdm/drivers/chromedriver/mac64/99.0.4844.51/chromedriver] found in cache

# NASA's Mars News

In [9]:
# get the url for NASA' MArs news
url = "https://redplanetscience.com"
# open the url
browser.visit(url)

In [10]:
# Retrieve page with the requests module
response = requests.get(url)

In [11]:
# Create BeautifulSoup object; parse with 'html.parser'

html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#soup = BeautifulSoup(response.text, 'html.parser')

In [12]:
# Extract title 
title = soup.title.text
print(title)

News - Mars Exploration Program

In [13]:
#Extract the latest news title 
news_title = soup.find('div',class_='content_title').text
print(news_title)

Curiosity Mars Rover's Summer Road Trip Has Begun

In [14]:
#Extract the latest news paragraph text
news_p = soup.find('div', class_='article_teaser_body').text
print(news_p)

After more than a year in the "clay-bearing unit," Curiosity is making a mile-long journey around some deep sand so that it can explore higher up Mount Sharp.

# JPL Mars Space Images

In [10]:
# get the url for the Featured Space Image site
image_url ="https://spaceimages-mars.com"
# open the url
browser.visit(image_url)

In [11]:
# create html to parse
image_html = browser.html

# create soup object to parse html
soup = BeautifulSoup(image_html, "html.parser")

image = soup.find("img", class_="headerimage fade-in")
print(image)

<img class="headerimage fade-in" src="image/featured/mars2.jpg"/>

In [12]:
featured_image_url = 'https://spaceimages-mars.com/image/featured/mars1.jpg'
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

# Mars Facts

In [3]:
# get the url for Mars Facts webpage
facts_url ="https://galaxyfacts-mars.com/"
# open the url
browser.visit(facts_url)

In [4]:
# Use Pandas to get and read the table
table = pd.read_html(facts_url)
table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [5]:
#Pull out the first table on the page and put into a dataframe
mars_facts_df = table[0]
mars_facts_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [6]:

mars_facts_df.columns =['Facts','Mars','Earth']
mars_facts_df

                     Facts             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [7]:
# drop the first row and reset the index
mars_facts_df = mars_facts_df.drop(mars_facts_df.index[:1])
mars_facts_df.set_index('Facts', inplace=True)
mars_facts_df

                               Mars            Earth
Facts
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [8]:
# convert the data to an HTML table string
html_table = mars_facts_df.to_html()
html_table.replace('\n', '')
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Facts</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres

In [25]:
# get the url for Mars Hemispheres
hemisphere_url ="https://marshemispheres.com/"
# open the url
browser.visit(hemisphere_url)

In [26]:
# create html to parse
hemi_html = browser.html

# create soup object to parse html
soup = BeautifulSoup(hemi_html, "html.parser")

In [28]:
image = soup.find_all("div", class_="description")

#img_url = soup.find_all("div", class_="item")

img_urls_list = []

# loop through image data to find title and url info
for i in image:
    
    title = i.find("h3").text
    img_url = i.find('a')['href']
   
    
    each_url = 'https://marshemispheres.com/' + img_url
    
    
    # use requests to get full images for each url 
    response = requests.get(each_url)
    
    # create soup object
    soup = BeautifulSoup(response.text,"html.parser")
    
    # find full image url
    new_url = soup.find("img", class_="wide-image")["src"]
    
    
    # create full image url
    full_url = 'https://marshemispheres.com/'+ new_url
    
    
    #make a dict and append to the list
    img_urls_list.append({"title": title, "img_url": full_url}) 
                          #"img_url": full_url})

img_urls_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [22]:
browser.quit()