In [2]:
# Import dependencies

import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pymongo

In [3]:
# Initialize the browser

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Driver [/Users/noreenjordan/.wdm/drivers/chromedriver/mac64/99.0.4844.51/chromedriver] found in cache

# NASA's Mars News

In [3]:
# get the url for NASA' MArs news
url = "https://redplanetscience.com"
# open the url
browser.visit(url)

In [4]:
# Retrieve page with the requests module
response = requests.get(url)

In [5]:
# Create BeautifulSoup object; parse with 'html.parser'

html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#soup = BeautifulSoup(response.text, 'html.parser')

In [6]:
# Extract title 
title = soup.title.text
print(title)

News - Mars Exploration Program

In [7]:
#Extract the latest news title 
news_title = soup.find('div',class_='content_title').text
print(news_title)

Newfound Martian Aurora Actually the Most Common; Sheds Light on Mars' Changing Climate

In [8]:
#Extract the latest news paragraph text
news_p = soup.find('div', class_='article_teaser_body').text
print(news_p)

A type of Martian aurora first identified by NASA’s MAVEN spacecraft in 2016 is actually the most common form of aurora occurring on the Red Planet, according to new results from the mission.

# JPL Mars Space Images

In [10]:
# get the url for the Featured Space Image site
image_url ="https://spaceimages-mars.com"
# open the url
browser.visit(image_url)

In [11]:
# create html to parse
image_html = browser.html

# create soup object to parse html
soup = BeautifulSoup(image_html, "html.parser")

image = soup.find("img", class_="headerimage fade-in")
print(image)

<img class="headerimage fade-in" src="image/featured/mars2.jpg"/>

In [12]:
featured_image_url = 'https://spaceimages-mars.com/image/featured/mars1.jpg'
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

# Mars Facts

In [13]:
# get the url for Mars Facts webpage
facts_url ="https://galaxyfacts-mars.com/"
# open the url
browser.visit(facts_url)

In [14]:
# Use Pandas to get and read the table
table = pd.read_html(facts_url)
table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [15]:
#Pull out the first table on the page and put into a dataframe
mars_facts_df = table[0]
mars_facts_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [16]:

mars_facts_df.columns =['Mars','Facts','Earth']
del mars_facts_df['Earth']
mars_facts_df

                      Mars            Facts
0  Mars - Earth Comparison             Mars
1                Diameter:         6,779 km
2                    Mass:  6.39 × 10^23 kg
3                   Moons:                2
4       Distance from Sun:   227,943,824 km
5          Length of Year:   687 Earth days
6             Temperature:     -87 to -5 °C

In [17]:
# drop the first row and reset the index
mars_facts_df = mars_facts_df.drop(mars_facts_df.index[:1])
mars_facts_df.set_index('Mars', inplace=True)
mars_facts_df

                              Facts
Mars
Diameter:                  6,779 km
Mass:               6.39 × 10^23 kg
Moons:                            2
Distance from Sun:   227,943,824 km
Length of Year:      687 Earth days
Temperature:           -87 to -5 °C

In [18]:
# convert the data to an HTML table string
html_table = mars_facts_df.to_html()
html_table.replace('\n', '')
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Facts</th>
    </tr>
    <tr>
      <th>Mars</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres

In [4]:
# get the url for Mars Hemispheres
hemisphere_url ="https://marshemispheres.com/"
# open the url
browser.visit(hemisphere_url)

In [5]:
# create html to parse
hemi_html = browser.html

# create soup object to parse html
soup = BeautifulSoup(hemi_html, "html.parser")

In [22]:
image = soup.find_all("div", class_="description")

#img_url = soup.find_all("div", class_="item")

img_urls_list = []

# loop through image data to find title and url info
for i in image:
    
    title = i.find("h3").text
    img_url = i.find('a')['href']
    
    
    #img_url = h3.find('a')
    
    each_url = 'https://marshemispheres.com' + img_url
    
    # use requests to get full images url 
    response = requests.get(hemisphere_url)
    
    # create soup object
    soup = BeautifulSoup(response.text,"html.parser")
    
    # find full image url
    #new_url = soup.find("img", class_="wide-image")["src"]
    
    # create full image url
    #full_url = 'https://marshemispheres.com'+ new_url
    
    
    #make a dict and append to the list
    img_urls_list.append({"title": title, "img_url": each_url}) 
                          #"img_url": full_url})

img_urls_list    

#sidebar = soup.find('ul', class_='nav-list')

#categories = sidebar.find_all('li')

#category_list = []
#url_list = []
#book_url_list = []
#for category in categories:
    #title = category.text.strip()
    #category_list.append(title)
    #book_url = category.find('a')['href']
    #url_list.append(book_url)

#book_url_list = ['http://books.toscrape.com/' + url for url in url_list]


#image = soup.find("div", class_="description")
#print(image)

#img_urls_dict =[]

#for i in image:
    #title = soup.find("h2").text
    #img_link = soup.find("img", class_="wide-image")["src"]
    #img_urls_dict.append({'title': title, 'img_url': img_link})
    #img_urls_dict.append({"title":title})

#img_urls_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.comcerberus.html'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.comschiaparelli.html'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.comsyrtis.html'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.comvalles.html'}]

In [ ]:
for x in range(50):
    # HTML object
    html = browser.html
    # Parse HTML with Beautiful Soup
    soup = BeautifulSoup(html, 'html.parser')
    # Retrieve all elements that contain book information
    articles = soup.find_all('article', class_='product_pod'


for article in articles:
        # Use Beautiful Soup's find() method to navigate and retrieve attributes
        h3 = article.find('h3')
        link = h3.find('a')
        href = link['href']
        title = link['title']
        print('-----------')
        print(title)
        print('http://books.toscrape.com/' + href)

In [21]:
#parse the landing page, isolate the image links in the item div

hemi_html = browser.html
soup = BeautifulSoup(hemi_html, "html.parser")
images = soup.find_all("div", class_="description")

#create a list for the names and image links
img_urls_list = []

#loop thru each link and grab the name and full size image
for image in images:
    
    #title is in the h2 text
    img_title = soup.find("h2").text
    #this one is the small picture
    #img_link = soup.find("img", class_="thumb")['src']
    img_link = soup.find("img", class_="wide-image")['src']

    #parse the html
    hemi_html = browser.html
    hemi_soup = BeautifulSoup(hemi_html, 'html.parser')
    
    # combine the urls
    img_url = 'https://marshemispheres.com/' + img_link
    img_urls_list.append({'title': img_title, 'img_url': img_url})

img_urls_list

TypeError: 'NoneType' object is not subscriptable

In [ ]:
browser.quit()